* {
  box-sizing: border-box;
}
.small-1 {
  width: 8.333333333333332%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-2 {
  width: 16.666666666666664%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-4 {
  width: 33.33333333333333%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-5 {
  width: 41.66666666666667%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-7 {
  width: 58.333333333333336%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-8 {
  width: 66.66666666666666%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-9 {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-10 {
  width: 83.33333333333334%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-11 {
  width: 91.66666666666666%;
  padding-left: 15px;
  padding-right: 15px;
}
.small-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen {
  .small-1 {
    width: 8.333333333333332%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-2 {
    width: 16.666666666666664%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-4 {
    width: 33.33333333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-5 {
    width: 41.66666666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-7 {
    width: 58.333333333333336%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-8 {
    width: 66.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-10 {
    width: 83.33333333333334%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-11 {
    width: 91.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .small-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 40.063em) {
  .medium-1 {
    width: 8.333333333333332%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-2 {
    width: 16.666666666666664%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-4 {
    width: 33.33333333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-5 {
    width: 41.66666666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-7 {
    width: 58.333333333333336%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-8 {
    width: 66.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-10 {
    width: 83.33333333333334%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-11 {
    width: 91.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .medium-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 64.063em) {
  .large-1 {
    width: 8.333333333333332%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-2 {
    width: 16.666666666666664%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-4 {
    width: 33.33333333333333%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-5 {
    width: 41.66666666666667%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-7 {
    width: 58.333333333333336%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-8 {
    width: 66.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-10 {
    width: 83.33333333333334%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-11 {
    width: 91.66666666666666%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .large-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.column,
.columns {
  float: left;
  position: relative;
}
.column .center,
.columns .center {
  text-align: center;
}
.column img,
.columns img {
  width: 100%;
}
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}
.row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  height: 0;
}
* {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5 {
  color: #bcb7da;
  font-family: "interface", sans-serif;
  font-weight: 400;
  text-transform: none;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
body,
p {
  color: #bcb7da;
  font-family: "interface", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-shadow: none;
}
pre {
  box-shadow: 0 2px 0 0 #fff;
  background-color: #201e2d;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
pre code {
  color: #bcb7da;
  font-family: "source-code-pro", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.4;
}
pre code span.comment {
  color: rgba(188,183,218,0.5);
}
pre code span.bash:before {
  content: '$';
  color: rgba(188,183,218,0.5);
  display: inline-block;
  margin-right: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.text-center {
  text-align: center;
}
.inline-list {
  padding-left: 0;
}
.inline-list > * {
  display: inline-block;
}
.inline-list.bullet > *:first-child:before {
  display: none;
}
.inline-list.bullet > *:before {
  display: inline-block;
  content: '•';
  margin-left: 10px;
  margin-right: 10px;
}
ul.no-bullet,
.modules,
.module .branches ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: 'VikinghugUI';
  src: url("../fonts/VikinghugUI.eot");
  src: url("../fonts/VikinghugUI.eot?#iefix") format("embedded-opentype"), url("../fonts/VikinghugUI.ttf") format("truetype"), url("../fonts/VikinghugUI.woff") format("woff"), url("../fonts/VikinghugUI.svg#VikinghugUI") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"]:before,
#download-all:before,
.module .branches button.dropdown:before,
.module .branches button.dropdown:after,
.module .download:before {
  display: inline-block;
  font-family: 'VikinghugUI';
  speak: none;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="icon-"]:before:active {
  text-decoration: none;
}
.icon-skull:before {
  content: "\e02f";
}
.icon-download:before {
  content: "\e228";
}
.icon-wrench:before {
  content: "\e318";
}
.icon-bug:before {
  content: "\e3cb";
}
.icon-branch:before {
  content: "\e480";
}
.icon-branch-alt:before {
  content: "\e489";
}
.icon-diamond:before {
  content: "\e49c";
}
.icon-download-alt:before {
  content: "\e665";
}
.icon-down:before {
  content: "\e62a";
}
::selection {
  color: #fff;
  background-color: rgba(60,184,120,0.99);
}
::-moz-selection {
  color: #fff;
  background-color: rgba(60,184,120,0.99);
}
* {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #201e2d;
  font-size: 16px;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0.75em 0 0.75em;
}
a {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #bcb7da;
  text-decoration: none;
}
a:hover {
  color: #3cb878;
}
header {
  background-color: rgba(40,37,58,0.85);
  cursor: default;
  width: 100%;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 10;
}
header h1 {
  color: #ffd161;
  font-size: 1.4em;
  font-weight: 200;
  padding-left: 15px;
}
header h2 {
  font-size: 3em;
  font-style: italic;
}
header .toolbar {
  position: absolute;
  top: 8px;
  right: 15px;
}
#download-all {
  background-color: #3cb878;
  box-shadow: 0 0 0 1px #3cb878;
  color: #28253a;
}
#download-all:before {
  content: "\e228";
  color: inherit;
  margin: 0 0.5em 0 0;
  padding: 0;
}
#download-all:hover {
  background-color: #28253a;
  color: #3cb878;
}
.modules {
  margin-top: 60px;
}
.module {
  box-shadow: 0 1px #28253a;
  padding: 15px;
}
.module.done .icon-diamond {
  color: #3cb878;
}
.module .icon-diamond {
  color: rgba(100,95,126,0.35);
  margin-top: 4px;
}
.module .branches {
  display: inline-block;
  position: relative;
}
.module .branches:hover button.dropdown {
  background: #bcb7da;
  color: #28253a;
}
.module .branches:hover ul {
  color: #645f7e;
  display: block;
}
.module .branches button.dropdown {
  box-shadow: 0 0 0 1px rgba(100,95,126,0.8);
  font-size: 0.8em;
  height: 22px;
  margin-right: 10px;
  line-height: 1em;
  overflow: visible;
  position: relative;
  z-index: 1;
}
.module .branches button.dropdown:before {
  content: "\e480";
  color: inherit;
  margin: 0 0.5em 0 0;
  padding: 0;
}
.module .branches button.dropdown:after {
  content: "\e62a";
  color: inherit;
  margin: 0 0 0 0.5em;
  padding: 0;
}
.module .branches ul {
  background: #28253a;
  position: absolute;
  display: none;
  text-align: left;
  top: 22px;
}
.module .branches ul li {
  box-shadow: 0 1px #201e2d;
  padding: 15px;
  white-space: nowrap;
  text-align: left;
  position: relative;
}
.module .branches .menu {
  position: absolute;
  z-index: 2;
}
.module .branches .menu a {
  padding-right: 60px;
}
.module .branches .menu .download {
  font-size: 1.2em;
  padding-right: 0;
  margin-right: 0px;
  position: absolute;
  right: 15px;
}
.module .branches .menu .download:after {
  color: #bcb7da;
  margin: 0;
}
.module button,
.module .button {
  font-size: 0.6em;
  line-height: 1em;
  padding: 0 10px;
  height: 24px;
}
.module .download {
  background: rgba(100,95,126,0.35);
  box-shadow: 0 0 0 1px #28253a;
  line-height: 1em;
}
.module .download:before {
  content: "\e228";
  color: inherit;
  margin: 0 0.5em 0 0;
  padding: 0;
}
.module .download span {
  display: none;
}
.module .download:hover {
  background: #201e2d;
  box-shadow: 0 0 0 1px #3cb878;
  color: #3cb878;
}
.module .updates {
  border-radius: 1000px;
  box-shadow: 0 0 0 1px #3cb878;
  color: #3cb878;
  display: inline-block;
  display: none;
  font-size: 0.8em;
  line-height: 1em;
  text-align: center;
  margin-right: 10px;
  padding: 5px 6px;
  width: 22px;
  height: 22px;
}
section.contributors .panel {
  height: 200px;
  margin-bottom: 20px;
}
section.contributors h3 {
  color: #e05757;
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
section.contributors h4 {
  color: #645f7e;
  border-bottom: 1px solid #28253a;
  margin-bottom: 10px;
}
section.contributors li {
  margin-bottom: 0.5em;
}
footer {
  background: #28253a;
  text-align: center;
  padding: 20px;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.fa:before {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #645f7e;
  font-size: 16px;
  margin-right: 6px;
  line-height: 1.25;
}
.button,
button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: transparent;
  border: none;
  border-radius: 1000px;
  box-shadow: 0 0 0 1px #bcb7da;
  color: #bcb7da;
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
  padding: 10px 15px;
}
.button:focuse,
button:focuse {
  outline: 0;
}
.button:hover,
button:hover {
  background: #bcb7da;
  color: #28253a;
}
body.message {
  overflow: hidden;
  pointer-events: none;
}
body.message #message {
  pointer-events: auto;
  opacity: 1;
}
#message {
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: 60px;
  left: 15px;
  right: 15px;
  color: #201e2d;
  min-height: 140px;
  z-index: 10;
}
#message p {
  color: #201e2d;
  padding: 15px;
  position: relative;
  z-index: 2;
}
#message:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #ffd161;
}
#message:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(40,37,58,0.86);
  z-index: 0;
}
#message .close {
  border-radius: 1000px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #e05757;
  padding: 10px 5px;
  color: #ffd161;
  box-shadow: 0 0 0 1px #e05757;
  z-index: 6;
  cursor: pointer;
}
.right {
  float: right;
  border-radius: 1000px;
}
