+selection() {
  color: #fff;
  background-color: rgba(60, 184, 120, 0.99);
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 0.2px;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-user-select: none;
  background-color: black;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden;
}

.main {}

* { cursor: default; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: .75em 0 .75em;
}

a {
  -webkit-app-region: no-drag;
  transition: color .3s ease;
  color: light-grey;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: green;
  }
}


//
// HEADER
// ******************************************************************

header {
  background-color: rgba(purple, .85);
  cursor: default;
  width: 100%;
  text-align: left;
  position: fixed;
  top: 0;
  z-index: 10;

  h1 {
    color: yellow;
    font-size: 1.4em;
    font-weight: 200;
    padding-left: 15px;
  }

  h2 {
    font-size: 3em;
    font-style: italic;
  }

  .toolbar {
    position: absolute;
    top: 8px;
    right: 15px;
    left: 15px;
    text-align: right;
  }
}

download-button() {
  inline-icon("download", margin: 0 .5em 0 0);
}
#download-all {
  download-button();
  background-color: green;
  box-shadow: inset 0 0 0 1px green;
  color: purple;

  &:hover {
    background-color: purple;
    color: green;
  }

}


screen-color(color) {
  h3 { color: color; }
  .screen > span {
    box-shadow: inset 0 0 0 1px color;
    color: color;
  }
}

screen-background-color(color) {
  background-color: color;
  &:before {
    background-color: color;
  }
}

list-item(icon, color) {
  line-height: 1.6;
  display: block;
  color: color;
  &:before {
    margin-right: 6px;
    font-size: .8em;
    line-height: 1.25;
    content: icon;
  }
}

//
// MODULES
// ******************************************************************
.modules {
  @extend ul.no-bullet;
  margin-top: 60px;
  padding-bottom: 60px;
}
.module {
  box-shadow: 0 1px purple;
  padding: 15px;
  line-height: 19px;
  position: relative;

  &.done {
    .icon-diamond { color: green; }
  }
  &.error {
    .icon-diamond { color: red !important; }
  }

  .icon-diamond {
    color: rgba(light-purple, .35);
    margin-right: 5px;
    &:before {
      vertical-align: middle;
    }
  }

  .branches {
    display: inline-block;

    &:hover {
      button.dropdown {
        background: light-grey;
        color: purple;
      }
      ul.menu {
        color: light-purple;
        opacity: .98;
        left: 0;
      }
    }

    button.dropdown {
      inline-icon("down", pseudo: after, margin: 0 0 0 .5em);
      font-size: .7em;
      height: 22px;
      margin-right: 5px;
      line-height: 1.2em;
      overflow: visible;
      position: relative;
      cursor: default;
      z-index: 3;
    }

    ul {
      @extend ul.no-bullet;
      background: purple;
      position: absolute;
      text-align: left;
      top: 22px;
      li {
        box-shadow: 0 1px black;
        padding: 0 15px;
        white-space: nowrap;
        text-align: left;
        position: relative;

        a {
          cursor: pointer;
          display: block;
          padding: 15px 0;

          &:hover {
            color: yellow;
          }

          &:before {
            border-radius: 1000px;
            box-shadow: 0 0 0 1px light-purple;
            display: inline-block;
            content: '';
            width: 12px;
            height: 12px;
            margin-right: 10px;
            line-height: 1em;
            overflow: visible;
            position: relative;
            cursor: default;
            z-index: 100;
          }
          &.checked:before {
            box-shadow: 0 0 0 1px yellow;
            background: yellow;
          }
        }
      }

    }

    .menu {
      transition: .4s opacity ease;
      position: absolute;
      z-index: 300;
      right: -1000px;
      opacity: 0;

      &.bottom {
        &:after {
          content: '';
          display: block;
          height: 50px;
          left: 0;
          right: 0;
          bottom: -50px;
          position: absolute;
        }
      }

      &.top {
        &:before {
          content: '';
          display: block;
          height: 50px;
          left: 0;
          right: 0;
          top: -50px;
          position: absolute;
        }
      }



      a { padding-right: 60px; }
      .download {
        font-size: 0;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0px;
        position: absolute;
        top: 0;
        right: 15px;

        &:after {
          color: light-grey;
          margin: 0;
        }
      }
    }
  }

  button,
  .button {
    font-size: .6em;
    line-height: 1em;
    padding: 0 10px;
    height: 24px;
  }

  .download {
    download-button();
    background: rgba(light-purple, .35);
    box-shadow: inset 0 0 0 1px purple;
    line-height: 1em;
    &:before {
      font-size: 17px;
      margin: 0;
      line-height: 0;
      height: 0;
      position: relative;
      top: 2px;

    }

    span { display: none; }

    &:hover {
      background: black;
      box-shadow: inset 0 0 0 1px green;
      color: green;
    }
  }

  .updates {
    border-radius: 1000px;
    box-shadow: inset 0 0 0 1px green;
    color: green;
    display: inline-block;
    display: none;
    font-size: .8em;
    line-height: 1em;
    text-align: center;
    margin-right: 10px;
    padding: 5px 6px;
    width: 22px;
    height: 22px;
  }

}



//
// CONTRIBUTORS
// ******************************************************************
section.contributors {
  .panel {
    height: 200px;
    margin-bottom: 20px;
  }
  h3 {
    color: red;
    font-size: 2em;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  h4 {
    color: light-purple;
    border-bottom: 1px solid purple;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: .5em;
  }
}


//
// FOOTER
// ******************************************************************

footer {
  background-color: rgba(purple, .85);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  z-index: 10;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}



//
// Buttons
// ******************************************************************

.button,
button {
  -webkit-app-region: no-drag;
  transition: all .3s ease;
  background: transparent;
  border: none;
  border-radius: 1000px;
  box-shadow: inset 0 0 0 1px light-grey;
  color: light-grey;
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
  padding: 10px 15px;
  &:focus { outline: 0; }
  &:hover {
    background: light-grey;
    color: purple;
  }
}

body.message {
  overflow: hidden;
  pointer-events: none;
  #message {
    pointer-events: auto;
    opacity: 1;
  }
}

#message {
  transition: opacity .6s ease;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: 60px;
  left: 15px;
  right: 15px;
  color: lighten(black, 10);
  word-break: break-word;
  min-height: 140px;
  z-index: 10;

  p {
    color: black;
    padding: 15px;
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: light-yellow;
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(purple, .86);
    z-index: 0;
  }

  .close {
    background: transparent;
    border-radius: 1000px;
    color: red;
    cursor: pointer;
    inline-icon('skull', pseudo: after, color: red, font-size: 30px);
    top: 0px;
    right: 5px;
    padding: 10px 5px;
    position: absolute;
    text-transform: uppercase;
    z-index: 6;

    span {
      vertical-align: top;
      line-height: 34px;
      margin-right: 5px;
    }
  }
}

.right {
  float: right;
  border-radius: 1000px;
}

tooltip(color, offset) {
  content: '';
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid color;
  position: absolute;
  top: 8px;
  right: offset;
  z-index: 100;
}

#addons-folder-config { display: none; }
#config-button {
  i { cursor: pointer; }

  + #config-tooltip {
    background-color: light-yellow;
    color: black;
    display: none;
    font-size: .8em;
    font-weight: 500;
    text-align: center;
    position: absolute;
    padding: 10px 35px 10px 15px;
    top: 4px;
    left: 10px;
    right: 60px;
    word-break: break-all;
    // overflow: visible;

    &:before {
      tooltip(black, 2px);
    }
    &:after {
      tooltip(light-yellow, 3px);
    }
  }
  &:hover + #config-tooltip {
    display: block;
  }
}
