+selection() {
  color: #fff;
  background-color: rgba(60, 184, 120, 0.99);
}


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-size: 16px;
  line-height: 1.2;
}

.main {}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: .75em 0 .75em;
}

a {
  transition: color .3s ease;
  color: light-grey;
  text-decoration: none;
  &:hover {
    color: green;
  }
}


//
// HEADER
// ******************************************************************

header {
  background-color: rgba(purple, .85);
  width: 100%;
  text-align: left;
  position: fixed;
  top: 0;

  h1 {
    color: yellow;
    font-size: 1.4em;
    font-weight: 200;
    padding-left: 15px;
  }

  h2 {
    font-size: 3em;
    font-style: italic;
  }

  .toolbar {
    position: absolute;
    top: 8px;
    right: 15px;
  }
}

download-button() {
  inline-icon("download", margin: 0 .5em 0 0);
}
#download-all {
  download-button();
  background-color: green;
  box-shadow: 0 0 0 1px green;
  color: purple;

  &:hover {
    background-color: purple;
    color: green;
  }

}


screen-color(color) {
  h3 { color: color; }
  .screen > span {
    box-shadow: 0 0 0 1px color;
    color: color;
  }
}

screen-background-color(color) {
  background-color: color;
  &:before {
    background-color: color;
  }
}

list-item(icon, color) {
  // @extend .fa;
  line-height: 1.6;
  display: block;
  color: color;
  &:before {
    margin-right: 6px;
    font-size: .8em;
    line-height: 1.25;
    content: icon;
  }
}

//
// MODULES
// ******************************************************************
.modules {
  @extend ul.no-bullet;
  margin-top: 60px;
}
.module {
  box-shadow: 0 1px purple;
  padding: 15px;

  &.done {
    .icon-diamond { color: green; }
  }

  .icon-diamond {
    color: rgba(light-purple, .35);
    margin-top: 4px;
  }

  .branches {
    display: inline-block;
    position: relative;


    &:hover {
      button.dropdown {
        background: light-grey;
        color: purple;
      }
      ul {
        color: light-purple;
        display: block;
      }
    }

    button.dropdown {
      inline-icon("branch", margin: 0 .5em 0 0);
      inline-icon("down", pseudo: after, margin: 0 0 0 .5em);
      box-shadow: 0 0 0 1px rgba(light-purple, .8);
      font-size: .8em;
      height: 22px;
      margin-right: 10px;
      line-height: 1em;
      overflow: visible;
      position: relative;
      z-index: 1;
    }
    ul {
      @extend ul.no-bullet;
      background: purple;
      position: absolute;
      display: none;
      text-align: left;
      top: 22px;
      li {
        box-shadow: 0 1px black;
        padding: 15px;
        white-space: nowrap;
        text-align: left;
        position: relative;
      }

    }

    .menu {
      position: absolute;
      z-index: 2;
      a { padding-right: 60px; }
      .download {
        font-size: 1.2em;
        padding-right: 0;
        margin-right: 0px;
        position: absolute;
        right: 15px;

        &:after {
          color: light-grey;
          margin: 0;
        }
      }
    }
  }

  button,
  .button {
    font-size: .6em;
    line-height: 1em;
    padding: 0 10px;
    height: 24px;
  }

  .download {
    download-button();
    background: rgba(light-purple, .35);
    box-shadow: 0 0 0 1px purple;
    line-height: 1em;

    span { display: none; }

    &:hover {
      background: black;
      box-shadow: 0 0 0 1px green;
      color: green;
    }
  }

  .updates {
    border-radius: 1000px;
    box-shadow: 0 0 0 1px green;
    color: green;
    display: inline-block;
    display: none;
    font-size: .8em;
    line-height: 1em;
    text-align: center;
    margin-right: 10px;
    padding: 5px 6px;
    width: 22px;
    height: 22px;
  }

}



//
// CONTRIBUTORS
// ******************************************************************
section.contributors {
  .panel {
    height: 200px;
    margin-bottom: 20px;
  }
  h3 {
    color: red;
    font-size: 2em;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  h4 {
    color: light-purple;
    border-bottom: 1px solid purple;
    margin-bottom: 10px;
  }
  li {
    margin-bottom: .5em;
  }
}


//
// FOOTER
// ******************************************************************

footer {
  background: purple;
  text-align: center;
  padding: 20px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.fa:before {
  transition: color .3s ease;
  color: rgba(light-purple, 1);
  font-size: 16px;
  margin-right: 6px;
  line-height: 1.25;
}


//
// Buttons
// ******************************************************************

.button,
button {
  transition: all .3s ease;
  background: transparent;
  border: none;
  border-radius: 1000px;
  box-shadow: 0 0 0 1px light-grey;
  color: light-grey;
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
  padding: 10px 15px;
  &:hover {
    background: light-grey;
    color: purple;
  }
}

body.message {
  overflow: hidden;
  pointer-events: none;
  #message {
    pointer-events: auto;
    opacity: 1;
  }
}

#message {
  transition: opacity .6s ease;
  pointer-events: none;
  position: fixed;
  opacity: 0;
  top: 60px;
  left: 15px;
  right: 15px;
  color: black;
  min-height: 140px;
  z-index: 10;

  p {
    color: black;
    padding: 15px;
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: desaturate(yellow, .25);
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(purple, .86);
    z-index: 0;
  }

  .close {
    border-radius: 1000px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    padding: 10px 5px;
    color: yellow;
    box-shadow: 0 0 0 1px red;
    z-index: 6;
    cursor: pointer;
  }
}

.right {
  float: right;
  border-radius: 1000px;
}