
// Brand colors
black = #201e2d;
white = #fff;
light-grey = #bcb7da;

green = #3cb878;
blue = #24a7a9;
yellow = #ffd161;
light-purple = #645f7e;
purple = #28253a;
red = #e05757;

// Base font settings
base-font             = "interface", sans-serif;
base-line-height      = 1.8;
base-font-color       = light-grey;
base-font-weight      = 400;
base-font-size        = 18px;
base-text-shadow      = none;


// Header font settings
header-font           = "interface", sans-serif;
header-font-color     = light-grey;
header-transform      = none;
header-weight         = 400;


// Code font settings
code-font             = "source-code-pro",sans-serif;
code-background-color = black;
code-font-color       = light-grey;
code-font-size        = 14px;
code-font-weight      = 800;
code-line-height      = 1.4;
code-border           = 0 2px 0 0 white;
code-comment-color    = rgba(code-font-color, .5);

