* { -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5 {
  color: header-font-color;
  font-family: header-font;
  font-weight: header-weight;
  text-transform: header-transform;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

body, p {
  color: base-font-color;
  font-family: base-font;
  font-size: base-font-size;
  font-weight: base-font-weight;
  line-height: base-line-height;
  text-shadow: base-text-shadow;
}
