
// Just some variables for the icon-font
font-name = 'VikinghugUI';
root-url = '../fonts/';

icons = {
  skull:        "\e02f",
  download:     "\e228",
  wrench:       "\e318",
  bug:          "\e3cb",
  branch:       "\e480",
  branch-alt:   "\e489",
  diamond:      "\e49c",
  download-alt: "\e665",
  down:         "\e62a"
}

